---
// SERVER SIDE SCRIPTS

import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'

// export for page
const { page } = Astro.props
---

<DefaultLayout title="404" nopadding="true">
  <Hero />

  <section class="container">
    <div class="row">
      <div class="col">
        <h1>404</h1>
        <p>This page does not exist.</p>
        <a class="btn btn-dark" href={Astro.site}>Head back home</a>
      </div>
    </div>
  </section>
</DefaultLayout>

