---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
---

<DefaultLayout title="Home">
  <Hero />

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Hello, World</h1>
      </div>
    </div>
  </div>
</DefaultLayout>



