---
// SERVER SIDE SCRIPTS

import DefaultLayout from '../layouts/DefaultLayout.astro'

// import *

import * as pagefind from '../../dist/pagefind/pagefind-modular-ui.css'
---

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script is:inline src="/pagefind/pagefind-ui.js"></script>

<DefaultLayout title="Home">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <h1>Search</h1>

        <div id="search" class="my-3"></div>
      </div>
    </div>
  </div>
</DefaultLayout>

<script is:inline>
  window.addEventListener('DOMContentLoaded', async (event) => {
    let pagefind = new PagefindUI({
      element: '#search',
      pageSize: 10,
      resetStyles: false,
      excerptLength: 50,
      showSubResults: true,
      showImages: false,
      showSubResults: true,
      highlightParam: 'highlight',
    })

    // get search params
    const urlSearchParams = new URLSearchParams(window.location.search)
    const params = Object.fromEntries(urlSearchParams.entries())
    // console.log('params', params)
    pagefind.triggerSearch(params.q || "");
  })
</script>
