---
import Navbar from './Navbar.astro'

const currentYear = new Date().getFullYear()
---

<footer class="container-fluid py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p>
           Camp La Jolla Military Park<br>
           &copy; 2008–{currentYear}
        </p>
      </div>
      <div class="col-12 col-md-4">
        <Navbar />
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    background-color: var(--footer-bg);
    color: var(--background);
    .navbar-nav {
      list-style: none !important;
      // background-color: red;
    }
  }
</style>
