---
import Navbar from './Navbar.astro'
import * as GLOBALS from '../lib/globals.mjs'
const logo = `${GLOBALS.ASSETS_URL}/img/clj-logo-white-brown-clear-100px.png`
---

<header data-bs-theme="dark">
  <a href="#main-content" class="skip">Skip to main content</a>

  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light my-1" href="/"> 
        <img src={logo} style="max-width: 1.6rem;" alt="Camp La Jolla Military Park shield icon">
        Camp La Jolla Military Park</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <Navbar location="navbar-ul-header">
          <!-- The original navigation was included here -->
        </Navbar>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2 bg-dark text-white" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
</header>

<style lang="scss">
  header {
    .navbar-brand {
      font-weight: 500;
    }
    .form-control:hover,
    .form-control:focus {
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      outline: none !important;
      border-color: var(--orange) !important;
      /* replace focus outline with something nicer */
      /* outline: -webkit-focus-ring-color rgba(var(--rose), var(--optionOpacityActive)) 5px; */
      /* added in individual color classes */
    }

    .skip {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
    .skip:focus {
      position: static;
      width: auto;
      height: auto;
    }
  }
</style>
